*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: currentcolor;
}

button {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  @include scrollbar;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #111;
  color: #fff;
}

html,
body {
  scrollbar-gutter: stable;
}

#__nuxt {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

[hidden] {
  display: none !important;
}

.no-scroll {
  overflow-y: hidden !important;
  margin-right: var(--scrollbar-compensate);
}
