:root {
  --transition300ms: 0.3s;
  --transition500ms: 0.5s;
  --transition1000ms: 1s;

  --sidebar-width: 65px;
  --container-padding: 10px;
  --grid-gap: 10px;
  --header-height: 50px;
  --header-margin: calc(var(--header-height) + 20px);

  // palette
  --palette-puerto-rico: #40c1ad;
  --palette-black: #000;
  --palette-cod-gray: #111;
  --palette-white: #fff;
  --palette-iron: #d4d4d8;
  --palette-tuna: #3a3b3f;
  --palette-topaz: #797585;
  --palette-black--rgb: 0 0 0;
  --palette-red--rgb: 255 0 0;
}
